#root {
  background-color: #141414;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 2em;
}

.hero-gradient {
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 0) 0%,
    rgba(20, 20, 20, 0.8) 80%,
    rgba(20, 20, 20, 1) 100%
  );
}

.movie-scroll::-webkit-scrollbar {
  display: none;
}

.movie-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}